<div class="flex justify-center flex-wrap flex-col content-center mt-2">
  <div class="flex w-full px-3 flex-col max-w-md">
    <p class="text-xl text-center font-bold">Admin Page</p>
    <div class="card gap-2 p-3 mt-3 bg-base-300 rounded-box place-items-center">
      <p>Add Machine</p>
      <input
        [(ngModel)]="machineName"
        type="text"
        placeholder="Machine Name"
        class="input input-bordered w-full max-w-xs"
      />
      <input
        [(ngModel)]="fileinput"
        (change)="onFileSelected($event)"
        type="file"
        class="file-input file-input-bordered file-input-secondary w-full max-w-xs"
      />
      <button class="btn btn-outline text-success" (click)="addMachine()">Add Machine</button>
    </div>

    <div class="divider">OR</div>

    <div class="card bg-base-300 rounded-box flex place-items-center py-3 gap-1">
      <p>De/Activate Machine</p>
      <div class="flex flex-wrap gap-1 justify-center">
        @for (machine of machines; track $index) {
        <div class="card bg-base-200 rounded-box">
          <div class="form-control p-1">
            <label class="label cursor-pointer gap-2">
              <span class="label-text">{{ machine.name }}</span>
              <input
                type="checkbox"
                class="toggle"
                [checked]="machine.isActive"
                (change)="switchActivation(machine.id, $event)"
              />
            </label>
          </div>
        </div>
        }
      </div>

      <div class="divider">OR</div>

      <div class="card bg-base-300 rounded-box flex place-items-center py-3 gap-2">
        <p>Reset User</p>

        @if(errorMessagePin)
        {
          <div class="label p-0">
            <span class="label-text-alt text-error mb-1 ml-1">{{errorMessagePin}}</span>
          </div>
        }
        <input type="text" placeholder="New password" [(ngModel)]="PIN" class="input input-bordered w-full max-w-xs" />

        <div class="flex flex-wrap gap-1 justify-center">
          @for (user of users; track $index) {

          <div class="card bg-base-200 rounded-box">
            <div class="form-control p-1">
              <label class="label cursor-pointer gap-2">
                <span class="label-text">{{ user.name }}</span>
                <input type="radio" name="radio-user" class="radio" value="{{user.id}}" [(ngModel)]="selectedUser"/>
              </label>
            </div>
          </div>
          }
        </div>
        <button (click)="updatePin()" class="btn btn-outline text-red-500">Set PW</button>
      </div>
    </div>
  </div>
</div>
