<div class="navbar z-50 bg-base-300 text-secondary-content p-3 rounded-b-lg shadow-lg">
  <div class="navbar-start">
    <a routerLink="/machines" class="btn btn-ghost text-xl font-bold">GymTracker</a>
  </div>

  @if(isloggedIn()) {
  <div class="navbar-center hidden sm:flex z-50">
    <ul class="menu menu-horizontal px-1">
      <li><a routerLink="/machines">Machines</a></li>
      <li><a routerLink="/statistics">Statistics</a></li>
      @if(isAdmin()){
      <li><a routerLink="/admin">Admin</a></li>
      }
      <li><a class="text-error" (click)="logout()">Logout</a></li>
    </ul>
  </div>

  <div class="navbar-end z-50">
    <div class="dropdown dropdown-end">
      <div tabindex="0" role="button" class="btn btn-ghost sm:hidden">
        <i class="bx bx-menu-alt-right text-2xl"></i>
      </div>
      <ul tabindex="0" class="menu menu-sm gap-3 dropdown-content bg-base-100 rounded-box z-[1] mt-3 w-52 p-2 shadow">
        <li><a routerLink="/machines">Machines</a></li>
        <li><a routerLink="/statistics">Statistics</a></li>
        @if(isAdmin()){
        <li><a routerLink="/admin">Admin</a></li>
        }
        <li><a class="text-error" (click)="logout()">Logout</a></li>
      </ul>
    </div>
  </div>
  }
</div>
