<div class="flex justify-center flex-wrap flex-col content-center mt-4 gap-5">
  @for (machine of Machines; track $index) {

  <div
    (click)="selectMachine(machine.id)"
    class="card cursor-pointer card-side bg-secondary w-96 shadow-xl"
  >
    <figure class="w-1/3">
      <img src="{{machineURL(machine.id)}}" />
    </figure>
    <div class="p-3 mx-auto flex justify-center flex-col items-center">
      <h2 class="card-title text-base-content">
        {{machine.name}} @if(isToday(machine.lastTraining)){<i class="bx bx-calendar-check text-success text-md"></i>}@else {<i class="bx bx-calendar-x text-info text-md"></i>}
      </h2>
      <p class="text-base-content">Last Weight: {{ machine.lastWeight ?? "??" }} Kg</p>
    </div>
  </div>
  }
</div>
