<div class="flex justify-center flex-wrap flex-col content-center mt-4 gap-5">
  <div (click)="selectUser('Laurin')" class="card card-side bg-secondary w-96 shadow-xl">
    <div class="flex items-center">
      <i class="bx bx-user text-6xl ml-6"></i>
    </div>
    <div class="p-3 mx-auto flex justify-center flex-col items-center">
      <h2 class="card-title text-base-content">Laurin</h2>
      <p class="text-base-content">Last Training: 19.03.2001</p>
    </div>
  </div>

  <div (click)="selectUser('Guest')" class="card card-side bg-secondary w-96 shadow-xl">
    <div class="flex items-center">
      <i class="bx bx-user text-6xl ml-6"></i>
    </div>
    <div class="p-3 mx-auto flex justify-center flex-col items-center">
      <h2 class="card-title text-base-content">Guest</h2>
      <p class="text-base-content">Last Training: 19.03.2001</p>
    </div>
  </div>
</div>
