<!-- back button -->
<div class="pt-2 flex flex-col items-center">
  <div class="w-full max-w-lg" [ngClass]="{ 'opacity-50 pointer-events-none': editing }">
    <button [routerLink]="'/machines'" class="btn btn-outline btn-sm">&lt;Back</button>
  </div>
</div>
<div class="pt-2 flex flex-col items-center">
  <div class="max-w-lg">
    <!-- Header -->
    <div class="flex justify-center gap-5 items-center" [ngClass]="{ 'opacity-50 pointer-events-none': editing }">
      <img src="{{machineURL(machine.id)}}" class="w-1/3 rounded-xl" />
      <div class="text-lg">
        <h1>{{ machine.name }}</h1>
        <p>Last training: {{ machine.lastTraining ? (machine.lastTraining | datePipe) : "??"}}</p>
        <p>Last weight: {{ machine.lastWeight ? machine.lastWeight : "??" }} Kg</p>
      </div>
    </div>
    <!-- Form -->
    <div
      class="text-xl gap-4 mt-8 py-2 flex w-full flex-col justify-center items-center"
      [ngClass]="{ 'border border-orange-500 bg-gray-900': editing }"
    >
      @if(editing) {
        <div class="w-full flex gap-4 max-w-lg">
          <button (click)="cancel()" class="btn btn-outline ml-2 btn-sm">&lt; Cancel</button>
          <p class="text-lg">Editing training from: {{ editTraining?.date | datePipe}}</p>
        </div>
      }
      <div class="flex w-full gap-4 justify-between text-md">
        <div class="basis-1/6 text-center flex justify-center items-center">
          <p><b>KG:</b></p>
        </div>
        <div class="basis-1/4">
          <input type="number" step=".5" [(ngModel)]="editTraining!.weight1!" class="input text-xl input-bordered input-secondary w-4/5" />
        </div>
        <div class="basis-1/4">
          <input type="number" step=".5" [(ngModel)]="editTraining!.weight2!" class="input text-xl input-bordered input-secondary w-4/5" />
        </div>
        <div class="basis-1/4">
          <input type="number" step=".5" [(ngModel)]="editTraining!.weight3!" class="input text-xl input-bordered input-secondary w-4/5" />
        </div>
      </div>
      <div class="w-full">
        <hr class="mx-4 border-gray-400" />
      </div>
      <div class="flex w-full gap-4 justify-between text-md">
        <div class="basis-1/6 text-center flex justify-center items-center">
          <p><b>Reps:</b></p>
        </div>
        <div class="basis-1/4">
          <input type="number" step=".5" [(ngModel)]="editTraining!.rep1!" class="input text-xl input-bordered input-secondary w-4/5" />
        </div>
        <div class="basis-1/4">
          <input type="number" step=".5" [(ngModel)]="editTraining!.rep2!" class="input text-xl input-bordered input-secondary w-4/5" />
        </div>
        <div class="basis-1/4">
          <input type="number" step=".5" [(ngModel)]="editTraining!.rep3!" class="input text-xl input-bordered input-secondary w-4/5" />
        </div>
      </div>
      <div class="w-full flex justify-center gap-4">
        <button (click)="submit()" class="btn btn-outline btn-success">
          {{ editing ? "Edit" : "Enter" }} training
        </button>
        @if(editing){<button (click)="del()" class="btn btn-outline btn-error">Delete Training</button>}
      </div>
    </div>

    <!-- Old Trainings -->
    <div class="mt-5 w-full">
      <div
        class="overflow-x-auto opacity-50 pointer-events-none"
        [ngClass]="{ 'opacity-50 pointer-events-none': editing }"
      >
        <table class="table text-lg text-center">
          <!-- head -->
          <thead class="text-base-content text-lg">
            <tr class="border-gray-600">
              <th class="w-1/4">Date</th>
              <th class="w-1/4">Set 1</th>
              <th class="w-1/4">Set 2</th>
              <th class="w-1/4">Set 3</th>
            </tr>
          </thead>
          <tbody class="text-primary">
            @for (training of trainings; track $index) {
            <tr (click)="edit(training.id!)" class="border-gray-600 cursor-pointer">
              <td class="py-1">
                <p>{{ training.date | datePipe }}</p>
              </td>
              <td class="py-1">
                <p>{{ training.weight1 }} Kg</p>
                <hr class="border-gray-400" />
                <p>{{ training.rep1 }} Rep.</p>
              </td>
              <td class="py-1">
                <p>{{ training.weight2 }} Kg</p>
                <hr class="border-gray-400" />
                <p>{{ training.rep2 }} Rep.</p>
              </td>
              <td class="py-1">
                <p>{{ training.weight3 }} Kg</p>
                <hr class="border-gray-400" />
                <p>{{ training.rep3 }} Rep.</p>
              </td>
            </tr>
            }
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
